.filterpanel-box {
    width: 250px;
    height: 750px;
    margin: 40px 0px 0px 80px;
    background-color: rgb(255, 245, 233);
    padding-top: 1px;
}

.filter-section {
    margin: 20px;
    border: 1px solid black;
    padding: 7px;
    cursor: pointer;
}

.filter-section p {
    font-weight: bold;
}

.condition-section {
    display: flex;
    flex-direction: column;
}

.fa-solid.fa-star {
    color: rgb(255, 173, 73);
}

.fa-solid.fa-star.off {
    color: grey;
}

.all-category-menu {
    display: flex;
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.all-category-menu i {
    margin: 2px 10px 0px 5px;
}