.orders-container {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 0px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 850px;
}

.orders-container h2 {
    margin-bottom: 30px;
}

.order-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(241, 240, 240);
}

.order-id {
    color: rgb(85, 84, 84);
    font-weight: 550;
    margin-bottom: 10px;
}

.product-box {
    display: flex;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

.op-qty {
    margin: 5px 20px 0px 20px;
}

.op-name {
    margin: 5px 20px 0px 20px;
}

.op-price {
    margin: 5px 20px 0px auto;
}