* {
    font-family: 'Inter', sans-serif;
}

.product-bg {
    background-color: rgb(234, 233, 233);
}

.page-setup {
    display: flex;
    align-items: flex-start;
}

.products-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    border: 1px solid rgb(220, 217, 217);
    box-shadow: 0px 4px 8px rgba(112, 111, 111, 0.2);
    cursor: pointer;
    background-color: white;
}

.product-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* keeps aspect ratio, crops overflow */
    border-bottom: 1px solid rgb(220, 217, 217);
}

.product-price {
    margin: 5px 0px 0px 10px;
    font-weight: bold;
    height: 25px;
}

.product-name {
    margin: 0px 0px 5px 10px;
    height: 25px;
    color: rgb(69, 69, 69);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 300px;
    margin: 200px 0px 0px 350px;
    /* or any height you need */
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    /* light grey */
    border-top: 6px solid #555;
    /* dark grey or your theme color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation for spinning */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}