.pop-up-container {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 250, 244);
}

.pop-up {
    width: 350px;
    height: 450px;
    margin-bottom: 0px;
    margin: 20px 0px 0px 0px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(72, 71, 71, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-email {
    padding: 12px;
    margin: 25px 0px 10px 0px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    width: 65%;
}

.input-password {
    padding: 12px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    width: 65%;
}

.login-btn {
    margin: 25px 0px 25px 0px;
    padding: 12px;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 5px;
    width: 72%;
    background-color: rgb(84, 84, 84);
    color: white;
}

.signup-container {
    display: flex;
    margin-top: 25px;
}

.signup-text {
    font-weight: bold;
    margin-left: 7px;
    cursor: pointer;
}

.profile-container {
    display: flex;
    background-color: rgb(226, 226, 226)
}

.profile-panel-section {
    background-color: white;
    height: 450px;
    width: 250px;
    margin: 20px 30px 20px 30px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.brandname {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp-line {
    width: 220px;
    height: 1px;
    background-color: rgb(225, 225, 225);
    margin: 20px 0px 20px 0px;
}

.pp-section {
    padding: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    display: flex;
}

.pp-section:hover {
    background-color: rgb(249, 242, 223);
    cursor: pointer;
}

.pp-section p {
    margin-left: 10px;
}

.pp-logout {
    width: 200px;
    background-color: rgb(72, 112, 72);
    color: white;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.pp-logout p {
    margin-right: 130px;
}

.pp-logout:hover {
    background-color: rgb(87, 128, 87);
}

.profile-main-section {
    display: flex;
    flex-direction: column;
}

.profile-search-bar {
    background-color: rgb(13, 82, 13);
    color: white;
    width: 900px;
    margin: 20px 30px 0px 0px;
    padding: 11px;
    border-radius: 10px;
}

.todays-date {
    font-size: 15px;
}

.myprofile-text {
    color: rgb(13, 82, 13);
    font-weight: bold;
    margin: 15px 30px 0px 5px;
    display: flex;
}

.line {
    width: 800px;
    margin-left: auto;
    height: 1px;
    background-color: rgb(199, 199, 199);
    margin-top: 7px;
}

.profilepic-name {
    margin: 15px 30px 0px 0px;
    padding: 10px;
    background-color: white;
    width: 900px;
    height: 80px;
    border-radius: 10px;
    display: flex;
}

.name-logout {
    display: flex;
}

#logout-icon {
    color: rgb(6, 51, 6);
    margin: 6px 10px 0px 600px;
    font-size: 20px;
    cursor: pointer;
}

.name-location {
    display: flex;
    flex-direction: column;
}

.profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 2px solid rgb(211, 210, 210);
    margin: 2px 30px 0px 30px;
}

.name {
    color: rgb(7, 57, 7);
    font-weight: 500;
    margin-top: 10px;
}

.user-text {
    color: rgb(39, 38, 38);
    font-size: 12px;
    margin-top: 7px;
}

.location {
    color: rgb(39, 38, 38);
    font-size: 12px;
    margin-top: 7px;
}

.personal-info {
    margin: 15px 30px 0px 0px;
    padding: 10px;
    background-color: white;
    width: 900px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.pi-text {
    color: rgb(13, 82, 13);
    font-weight: bold;
    font-size: 15px;
    margin: 3px 30px 0px 20px;
}

.pi-line {
    width: 880px;
    height: 1px;
    background-color: rgb(104, 104, 104);
    margin: 10px 5px 10px 5px;
}

.name-dob {
    display: flex;
    padding-left: 20px;
}

.pi-fn {
    margin: 0px 200px 15px 0px;
    display: flex;
    flex-direction: column;
}

.pi-fn h2 {
    color: rgb(105, 105, 105);
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600px;
}

.email-phone {
    display: flex;
    padding-left: 20px;
}

.pi-email {
    margin: 0px 105px 15px 0px;
    display: flex;
    flex-direction: column;
    width: 170px;
}

.pi-email h2 {
    color: rgb(105, 105, 105);
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600px;
}

.address {
    margin: 15px 30px 0px 0px;
    padding: 10px;
    background-color: white;
    width: 900px;
    height: 80px;
    border-radius: 10px;
}

.add-text {
    color: rgb(13, 82, 13);
    font-weight: bold;
    font-size: 15px;
    margin: 3px 30px 10px 0px;
    padding-left: 20px;
}

.add-line {
    width: 880px;
    height: 1px;
    background-color: rgb(225, 225, 225);
    margin: 10px 5px 10px 5px;
}

.add-info {
    display: flex;
    padding-left: 20px;
}