* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: rgb(207, 206, 206);
}

#logo {
    width: 44px;
    height: 44px;
    padding-left: 10px;
}

#brand-name {
    margin-left: 20px;
    font-size: 24px;
    text-decoration: bold;
    cursor: pointer;
}

#brand-name img {
    margin-top: 8px;
    width: 150px;
    height: 40px;
}

#search-bar {
    margin-left: 80px;
    padding: 5px 5px 5px 10px;
    width: 350px;
    height: 20px;
    border: 1px solid grey;
}

#search-button {
    height: 31px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(61, 94, 53);
    border: 1px solid rgb(61, 94, 53);
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: rgb(91, 133, 93);
}

.profile {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#profile-icon {
    margin-top: 5px;
    margin-bottom: 5px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#message-icon {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cart {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cart-icon {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom-header {
    height: 36px;
    color: white;
    border: 1px solid rgb(79, 79, 79);
    background-color: rgb(79, 79, 79);
    z-index: 10;
    position: relative;
    display: flex;
}

.all-category-menu {
    position: relative;
}

.bottom-header .category-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    /* puts it below the trigger */
    background-color: rgb(79, 79, 79);
    width: 200px;
    height: 240px;
    padding: 10px;
    transition: opacity 0.3 ease;
    z-index: 1;
}

.all-category-menu:hover .category-container,
.category-container:hover {
    opacity: 1;
    visibility: visible;
}

.c-type {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.c-type:hover {
    background-color: rgb(168, 168, 168);

}

.deliver-text {
    margin-left: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.flag-image {
    padding: 10px 50px 10px 0px;
    width: 23px;
    height: 15px;
}