.header {
    background-color: #d8730e;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: und erline;
}

.footer {
    background-color: #d8730e;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}