.homepage-container {
    position: relative;
    text-align: center;
    min-height: 80vh;
    /* so footer doesn’t overlap */
}

.slide img {
    width: 100%;
    height: 500px;
}

/* Center buttons */
.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.home-btn {
    background-color: #ececec;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.home-btn:hover {
    background-color: #aeaeae;
}